body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

/* pages */
.page {
    display: none;
    height: 100vh;
}

.page.active {
    display: block;
}

/* page backgrounds */

#page1 {
    background: url("moon.jpg") no-repeat center center;
    background-size: cover;
}

#page2 {
    background: url("no.jpg") no-repeat center center;
    background-size: cover;
}

#page3 {
    background: url("yes.jpg") no-repeat center center;
    background-size: cover;
}


/* text */

.main-title {
    color: white;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}

.intro-text {
    color: white;
    text-align: center;
    font-size: 20px;
}

.buttons {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

/* letter */

.letter-body {
    color: white;
    padding: 40px;
    height: 100vh;
    overflow-y: auto;
}


/* animation */

.animate-text {
    opacity: 0;
    animation: fadeIn 1s forwards;
}

.animate-text:nth-child(1){animation-delay:1s;}
.animate-text:nth-child(2){animation-delay:2s;}
.animate-text:nth-child(3){animation-delay:3s;}
.animate-text:nth-child(4){animation-delay:4s;}
.animate-text:nth-child(5){animation-delay:5s;}
.animate-text:nth-child(6){animation-delay:6s;}
.animate-text:nth-child(7){animation-delay:7s;}
.animate-text:nth-child(8){animation-delay:8s;}
.animate-text:nth-child(9){animation-delay:9s;}
.animate-text:nth-child(10){animation-delay:10s;}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
