body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: url("moon.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/* Page system */
.page {
    display: none;
    height: 100vh;
    overflow-y: auto;
}

.page.active {
    display: block;
}

/* Title */
.main-title {
    text-align: center;
    margin-top: 80px;
    font-size: 40px;
    color: white;
}

/* Text */
.intro-text {
    text-align: center;
    color: white;
    font-size: 18px;
}

/* Buttons */
.buttons {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
}

/* Letter body */
.letter-body {
    padding: 40px;
    color: white;
    font-size: 18px;
    max-height: 100vh;
    overflow-y: auto;
}

/* Animation */
.animate-text {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
